

/* footer styles */


.nav-elements{
    font-size: 2.5rem;
    padding: .4rem 0;
     text-align: center;
}

ul, ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bottom-nav-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: rgba(206, 204, 204, 0.753)
}

