*{
/* Just to help - once we finish, we must remove it */
    /* border: 1px solid black;  */
}

body{
    border: 1px solid green !important;
    /* max-width: 600px !important; */
    margin: 2rem !important;
    padding: 1rem !important;
}

a{
    color: black;
    text-decoration: none;
}

.visually-hidden {
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.back-button{
    background: none;
    outline: none;
    border: 3px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
}
/* Login screen - start */
.homePage{
    /* height: 100vh; */
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}
.bigLogo,
.loginSignUp,
.guestMode{
    width: 90%;
    margin: auto;
    padding: 1rem;

}
.bigLogo{
    display: grid;
    grid-template-columns: .3fr 1fr;
}
.bigLogo img{
    display: inline;
    width: 100px;
    border-radius: 50%;
    margin: .7rem;
}
.bigLogo h1{
    align-self: center;
    font-size: 2.5rem;
}
.loginSignUp{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.homePage button{
    margin: 1rem auto;
    /* width: 70%; */
    padding: .5rem;
    /* border-radius: 20px; */
    /* font-size: 1.4rem; */
}
.guestMode{
    display: flex;
}
.homePage footer{
    align-self: flex-end;
}
/* Login screen - end */
/* Main screen - start */

.mainPage header{
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}
.mainPage main{
    padding-top: 3rem;
}
.bigHero{
    width: 90%;
    margin: auto;
}
.mainSports{
    width: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mainPage h2{
    width: 90%;
    margin: 2rem auto 1rem;
}
.mainSports img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    border-radius: 15px;
}
.sportsCard{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    margin-right: 1rem;
}
.sportsCard h3{
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.2);
    padding: .3rem 0;
}
.tips{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.tipsCards{
    background-color: rgba(0,0,0,.3);
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.iconsBar{
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(0,0,0,.6);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /* max-width: 600px; */
}
.iconsBar i{
    font-size: 3.5rem;
    padding: .4rem 0;
}
/* Main screen - end */
/* Account Settings screen - start */
.accountSettings{
    overflow: hidden;
}
.profile{
    width: 90%;
    margin: 1.5rem auto;
}
.profile input{
    background-color: #ccc;
    border: none;
    outline: none;
}
.profileImg{
    background: linear-gradient(white 50%, #ccc 50%);
    grid-row: 1 / 2;
    grid-column: 1 / -1;

}
.profileImg img{
    width: 30%;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 1rem;
}
.basicInfo{

    display: grid;
    grid-template-columns: 1fr .7fr;
}
.primaryInfo{
    padding: .7rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #ccc;
}
.secondaryInfo{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    background-color: #ccc;

}
.secondaryInfo img{
    width: 50px;
    border-radius: 50%;
}
.secondaryInfo input{
    width: 50px;
}
.locationInfo{
    height: 80px;
    background-color: #ccc;
    display: flex;
    align-items: center;
}
.locationInfo label{
    padding: .7rem;
}
.favoriteCourt{
    background-color: #ccc;
    padding-top: 1rem;

}
.favoriteCourt img{
    width: 200px;
    margin: 1rem .7rem;
}
.favoriteCourt label{
    padding: .7rem;
}
/* Account Settings screen - end */