
$color_body_copy: #333;

$color_body_bg: #eef;
$color_header_footer: white;
$color_header_footer_bg: black;
$color_headings: hotpink;

/* links */

$color_link: hsl(240, 50%, 50%);
$color_link_visited: hsl(240, 50%, 30%);
