$color-primary-blue-text: #12317F;

//footer nav colors 
$color_footer_nav_link: #12317F;
$color_footer_nav_hover:  #FF9364;
$footer-background: #F0F0F3;


footer{
    // color: cornsilk
}
// background color 
$html-back: whitesmoke;
$body-back:white;
$color-main-bg: #F0F0F3; 
$color-secondary-bg: #E5E5E5;


$color_buttons_type_white: white;
$color_buttons_type_black: #505050;

// buttons colors 
$color-green-button: #6CC8A6;
$color-red-button: #FF8188;
$color-grey-button: #EAECF0;
$color-orange-button: #FFB494;
$color_google_signin: #C5331E;
$color_facebook_signin: #4E6297;
$color_twitter_signin: #55ACE3;
$color_about_description: #FFDFD1;

// input area color
$color-input-field: #EEF0F6;
$color_sign_in_font: #7D7D7D;

// user-level-selection screen colors
$color-user-level-beginner: #E9FFF3;
$color-user-level-intermediate: #FFC098;
$color-user-level-advance: #F2746D;


// splash-screen colors 

$color_light_orange: #FFF8F4;
$color_darker_orange: #FFDFD1;
$color_more_darker_orange: #FFB494;
$color_the_darkest_orange: #FF7D45;


// Chat 
$color-sender-bg: #3469EE;
$color-receiver-bg: #EAEAEA;