
//footer nav colors 
$color_footer_nav_link: #9094AA;
$color_footer_nav_hover:  #FF9364;

// background color 
$color-main-bg: #F0F0F3; 

// buttons colors 
$color-green-button: #6CC8A6;
$color-red-button: #FF8188;
$color-grey-button: #EAECF0;
$color-orange-button: #FFB494;

// input area color
$color-input-field: #EEF0F6;

// user-level-selection screen colors
$color-user-level-beginner: #E9FFF3;
$color-user-level-intermediate: #FFC098;
$color-user-level-advance: #F2746D;



