.green-button
.orange-button
.grey-button
.red-button 

button{
    @include borderRadiusButtons;
}

//green button 
.green-button{
    @include basicButtonStyle($color-green-button, $color_buttons_type_white ); 
}

// grey button
.grey-button{
    @include basicButtonStyle($color-grey-button, $color_buttons_type_black); 
}

.red-button{
    @include basicButtonStyle($color-red-button, $color_buttons_type_white); 
    min-width: 115px;

}


///// link reset 
a{
    text-decoration: none;
}



//back button 
.back{

    button.back-button{
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-color: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        background-color: #F0F0F3;

            i{
                font-size: 1.8rem;
                color: grey;


            }
    }
}