
//articels section 
@mixin roundImage() {
    border-radius: 15px;
}

//buttons
@mixin borderRadiusButtons(){
    height: 50px;
    font-family: $font_sans;
    font-weight: medium;

}

@mixin pageMargin() {
    margin: 0 2%;
}