/* The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden;
    min-width: 20px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    max-width: 14rem;
    left: 50%;
    top: 5%;
  }
  
  /* Show the toast when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the toast */
    /* Add animation: Take 0.5 seconds to fade in and out the toast.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the toast in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5%; opacity: 1;}
  }
  
  @keyframes fadein {

    from {top: 0; opacity: 0;}
    to {top: 5%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 5%; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 5%; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  .accordion {
    background-color: white;
		color: #444;
		cursor: pointer;
		padding: 18px;
		border: none;
		text-align: left;
		outline: none;
		transition: 0.4s;
		border-radius: 20px;
  }

  .active {
    display: block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
